/* Main styles */

#moon {
  clear: both;
  background: #193d61;
}

.next-dates {
  color: #ffffff;
}

.next-dates .new-moon, 
.next-dates .full-moon {
  text-align: center;
  margin-bottom: 0.8rem;
}

.next-dates .new-moon .title, 
.next-dates .full-moon .title {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
